{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half-tablet is-one-third-desktop">
                <div class="box">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                    </div>
                    {% endif %}
                    {% endwith %}
                    <h1 class="title is-4 has-text-centered mb-5 has-text-black">Registro</h1>
                    <form method="POST" action="/security/register">
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left">
                                <input class="input" type="email" name="email" placeholder="Tu email" autofocus=""
                                    required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Nombre</label>
                            <div class="control has-icons-left">
                                <input class="input" type="text" name="name" placeholder="Tu nombre" autofocus=""
                                    required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Contraseña</label>
                            <div class="control has-icons-left">
                                <input class="input" type="password" name="password" placeholder="Tu contraseña"
                                    required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control mt-5">
                                <button class="button is-block is-primary is-fullwidth">
                                    <span class="icon">
                                        <i class="fas fa-user-plus"></i>
                                    </span>
                                    <span>Registrar</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}